body {
    background-color: #f0efeb;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    font-size: 10px;
    padding-left: 10px;
    text-decoration: none;
}

p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

button {
    background-color: #79addc;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding: 5px 20px;
}

.header {
    background-color: #e8d1c5;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    align-items: flex-start;
    justify-content: left;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}

.bottom {
    display: flex;
    align-items: center;
    padding: 70px 0px;
}

.placeholder {
    background-color: rgba(240, 240, 240, 0.425);
    color: white;
    font-size: 10px;
    height: 150px;
    width: 700px;
    text-align: center;  
    line-height: 130px;
    margin-left: 10px;
}

.info {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding: 50px;
}

.title p {
    font-size: 35px;
    font-weight: bold;
}

.images-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin-left: 50px;
    text-align: center;
}

.box {
    border: solid;
    border-color: #79addc; 
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.images p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;   
}

